# 演示pandas DataFrame框架的数据操作

In [1]:
# 读取demo用csv数据
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np

demo_pd_na = pd.read_csv('..\dataset\demo_csv_data_na.csv', sep=',', index_col=0, na_values='')
demo_pd_na

    a     b     c     d   e
0   0   1.0   2.0   3.0   4
1   5   6.0   NaN   8.0   9
2  10   NaN  12.0  13.0  14
3  15  16.0  17.0  18.0  19
4  20  21.0  22.0   NaN  24

## 最普适的行列读取方法iloc, loc

In [2]:
# 分别接受行索引index，列索引index
# index可以是数字，可以是list
demo_pd_na.iloc[[0, 2], 1:3]

     b     c
0  1.0   2.0
2  NaN  12.0

In [3]:
demo_pd_na.loc[:, ['b', 'c']]

      b     c
0   1.0   2.0
1   6.0   NaN
2   NaN  12.0
3  16.0  17.0
4  21.0  22.0

### 读取行

In [4]:
# 方法1，类似于列表切片，但是只能连续切片
# demo_pd_na[1]则报错
demo_row = demo_pd_na[1:4]
demo_row

    a     b     c     d   e
1   5   6.0   NaN   8.0   9
2  10   NaN  12.0  13.0  14
3  15  16.0  17.0  18.0  19

In [5]:
# 方法2 按照指定的索引选择一行或多行，使用loc[]方法
# loc[]里的参数是对应的索引值，所以参数可以是整数，也可以是字符串
demo_row_1 = demo_pd_na.loc[1:2]
print(demo_row_1)
print('\n')
demo_row_2 = demo_pd_na.loc[[1,3]]
print(demo_row_2)

    a    b     c     d   e
1   5  6.0   NaN   8.0   9
2  10  NaN  12.0  13.0  14


    a     b     c     d   e
1   5   6.0   NaN   8.0   9
3  15  16.0  17.0  18.0  19

In [6]:
# 方法3 按照指定的位置选择一行多多行，使用iloc[]方法
# iloc[]里的参数表示的是第几行的数据，所以只能是整数
demo_row = demo_pd_na.iloc[[0,1,3]]
print(demo_row)
print('\n')

# print(demo_row.loc[2])
# error, 不存在2这个index
print(demo_row.iloc[2])

    a     b     c     d   e
0   0   1.0   2.0   3.0   4
1   5   6.0   NaN   8.0   9
3  15  16.0  17.0  18.0  19


a    15.0
b    16.0
c    17.0
d    18.0
e    19.0
Name: 3, dtype: float64

### 读取列

In [7]:
# 方法1 通过指定列名选择一列/多列
demo_col = demo_pd_na[['a', 'e']]
demo_col

    a   e
0   0   4
1   5   9
2  10  14
3  15  19
4  20  24

In [8]:
# 方法2 使用点属性返回列
demo_col = demo_pd_na.a
demo_col

0     0
1     5
2    10
3    15
4    20
Name: a, dtype: int64